@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
  }

  .navigation-button {
    @apply flex w-10 cursor-pointer items-center justify-center bg-white shadow-lg lg:w-14 lg:shadow-2xl;
  }

  .footer-link {
    @apply cursor-pointer underline;
  }
}
